<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
</head>
<body>
<div class="container" th:fragment="dc-student-search" th:id="dc-form-body">
<h4 align="left" style="font-size: 32px">SEARCH STUDENT</h4>
<div class="dc-form-body">
<div th:replace="fragments/dc-components/dc-dashboard-components/dc-breadcrumb/dc-breadcrumb.html::
			dc-breadcrumb(active_item='Search Student Details')"></div>
    <form action="#" id="addstudform" method="post">
        <div class="col-sm-10">
        <div class="form-group row">
            <label style="text-align: end;" class="col-form-label col-sm-5">Enter Name/Admission Number</label>
            <div class="col dc-input">
        <input type="text" class="form-control" oninput="myFunction()" id="search">
            </div>
        </div>
        </div>
    </form>
    <div th:id="dc-search">
        <table style="width:100%" class="table table-condensed">
            <tr>
                <th>Admission No</th>
                <th>Name</th>
                <th>Parent Name</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="student : ${students}" th:if="${student.isDelete}==false">
                <td th:text="${student.studentId}">
                <td th:text="${student?.name}">
                <td th:text="${student?.parent?.name}">
                <td th:text="${student?.parent?.phone}">
                <td th:text="${student?.gender}">
                <td th:text="${student?.dateOfBirth}">
                <td><a th:href="@{'/delete/'+ ${student.id}}" onclick="return confirm('Are you sure want to delete this ?');" id="delete">Delete</a></td>

            </tr>
        </table>
    </div>

    <script th:src="@{js/dc-components/dc-screen-layout/dc-student/dc-student-search.js}">
    </script>
 </div>
</div>
</body>
</html>