<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Classwise</title>
</head>
<body>
<div class="container dc-form-body" th:fragment="dc-student-list" th:id="dc-profile">
    <table style="width:100%" class="table table-condensed">
        <tr>
            <th>Admission No</th>
            <th>Name</th>
            <th>Parent Name</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="student : ${students}" th:if="${student.isDelete}==false">
            <td th:text="${student.studentId}">
            <td th:text="${student?.name}">
            <td th:text="${student?.parent?.name}">
            <td th:text="${student?.parent?.phone}">
            <td th:text="${student?.gender}">
            <td th:text="${student?.dateOfBirth}">
            <td><a href="#" th:id="'view'+${student?.id}">View</a></td>
            <td><a th:href="@{'/delete/'+ ${student.id}}" onclick="return confirm('Are you sure want to delete this ?');" id="delete">Delete</a></td>

        </tr>
    </table>
    <script th:src="@{js/dc-components/dc-screen-layout/dc-student-list.js}">
    </script>

</div>
</body>
</html>