<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student TimeTable</title>
</head>
<body>
<div class="dropdown" th:fragment ="dc-student-timetable" >
    <div class="col-sm-10">
        <div th:replace="fragments/dc-components/dc-form-component/dc-form-subject-list/dc-form-subject-list.html::dc-subject-list-all
        (label='Period 1',options='subjectList',index='id',text='name',subtxt='subjectId',name='period.subject')"></div>
    </div>
    <div class="col-sm-10">
        <div th:replace="fragments/dc-components/dc-form-component/dc-form-subject-list/dc-form-subject-list.html::dc-subject-list-all
        (label='Period 2',options='subjectList',index='id',text='name',subtxt='subjectId',name='period.subject')"></div>
    </div>
    <div class="col-sm-10">
        <div th:replace="fragments/dc-components/dc-form-component/dc-form-subject-list/dc-form-subject-list.html::dc-subject-list-all
        (label='Period 3',options='subjectList',index='id',text='name',subtxt='subjectId',name='period.subject')"></div>
    </div>
    <div class="col-sm-10">
        <div th:replace="fragments/dc-components/dc-form-component/dc-form-subject-list/dc-form-subject-list.html::dc-subject-list-all
        (label='Period 4',options='subjectList',index='id',text='name',subtxt='subjectId',name='period.subject')"></div>
    </div>
    <div class="col-sm-10">
        <div th:replace="fragments/dc-components/dc-form-component/dc-form-subject-list/dc-form-subject-list.html::dc-subject-list-all
        (label='Period 5',options='subjectList',index='id',text='name',subtxt='subjectId',name='period.subject')"></div>
    </div>
    <div class="col-sm-10">
        <div th:replace="fragments/dc-components/dc-form-component/dc-form-subject-list/dc-form-subject-list.html::dc-subject-list-all
        (label='Period 6',options='subjectList',index='id',text='name',subtxt='subjectId',name='period.subject')"></div>
    </div>
    <div class="col-sm-10">
        <div th:replace="fragments/dc-components/dc-form-component/dc-form-subject-list/dc-form-subject-list.html::dc-subject-list-all
        (label='Period 7',options='subjectList',index='id',text='name',subtxt='subjectId',name='periiod.subject')"></div>
    </div>
</div>

</body>
</html>