<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="dropdown" th:fragment ="dc-subject-list" >
    <div class="form-group row">
        <label th:text="${label}" style="text-align: end;" class="col-sm-3 col-form-label"></label>
        <div th:id="${id}" class="col dc-input">
            <select class="form-control ui fluid search dropdown" th:name="${name}" th:value="${__${value}__}">
                <option value="0">select</option>
                <option th:each="option : ${__${options}__}"
                        th:if="${option.subjectgroup}==${T(com.monkmind.digicampus.models.SubjectGroup).__${group}__}"
                        th:value="${option.__${index}__}"
                        th:text="${option.__${text}__}+' '+${option.__${subtxt}__}"
                        th:id="${id}+'_input'"
                        th:selected="${__${subject}__}==${option.__${text}__} ? true : false"></option>
            </select>
        </div>
    </div>
</div>
<div class="dropdown" th:fragment ="dc-subject-list-all">
    <div class="form-group row">
        <label th:text="${label}" style="text-align: end;" class="col-sm-3 col-form-label"></label>
        <div th:id="${id}" class="col-sm-3 dc-input">
            <select class="form-control ui fluid search dropdown" th:name="${name}" th:value="${__${value}__}">
                <option value="0">select</option>
                <option th:each="option : ${__${options}__}"
                        th:value="${option.__${index}__}"
                        th:text="${option.__${text}__}+' '+${option.__${subtxt}__}"
                        th:id="${id}+'_input'"
                        th:selected="${__${subject}__}==${option.__${text}__} ? true : false"></option>
            </select>
        </div>
    </div>
</div>
</body>
</html>