<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Staff list dispaly</title>
</head>
<body>
<div class="container dc-form-body" th:fragment="dc-nonteachingstaff-edit-02" th:id="updatenonteachingstaffbody">
     <form th:action="@{/updatenonteachingstaff/}" th:id="updatenonteachingform" method="post" th:object="${nonteachingstaff}">
         <input type="hidden" th:field="*{id}">
         <div class="col-sm-10 ">
             <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Name *',name='name',value='nonteachingstaff.name',id='name',required=true)"></div>
         </div>
         <div class="col-sm-10 ">
             <div th:replace="fragments/dc-components/dc-form-component/dc-form-textarea/dc-form-textarea.html::dc-form-textarea(label='Address ',value='nonteachingstaff.address',name='address')"></div>
         </div>
         <div class="col-sm-10 ">
             <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Phone Number *',name='phone',value='nonteachingstaff.phone',id='phone',required=true)"></div>
         </div>
         <div class="col-sm-10 ">
             <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Alternative Phone',name='altPhone',value='nonteachingstaff.altPhone')"></div>
         </div>
         <div class="form-group row">
             <div class="col-sm-5">
                 <div th:replace="fragments/dc-components/dc-form-component/dc-form-bloodgroup/dc-form-bloodgroup.html::dc-form-bloodgroup(label='Blood Group *',name='bloodGroup',id1='blood',blood='nonteachingstaff.bloodGroup',required=true)"></div>
             </div>
             <div class="col-sm-5">
                 <div th:replace="fragments/dc-components/dc-form-component/dc-form-date/dc-form-date.html::dc-form-date(label='Date of Birth*',id='date',name='dateOfBirth',value='nonteachingstaff.dateOfBirth', required=true)"></div>
             </div>
         </div>
         <div class="col-sm-10 ">
             <div th:replace="fragments/dc-components/dc-form-component/dc-form-radiobut/dc-form-radiobut.html::dc-form-radiobut(label='Gender *',name='gender',value='nonteachingstaff.gender',required=true)"></div>
         </div>
         <div class="col-sm-10 ">
             <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Staff Id *',name='staffId',value='nonteachingstaff.staffId',id='tid',required=true,readonly=true)"></div>
         </div>
         <div class="col-sm-10 ">
             <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Category *',name='category',value='nonteachingstaff.category',id='tid',required=true)"></div>
         </div>
         <div class="col-sm-10 ">
             <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Designation *',name='designation',value='nonteachingstaff.designation',id='tid',required=true)"></div>
         </div>
         <div th:replace="fragments/dc-components/dc-form-component/dc-form-button/dc-form-button.html::dc-form-button(label='Submit',submit_id='nonteachingstaffupdate')"></div>
     </form>
    <script th:src="@{js/dc-components/dc-screen-layout/dc-nonteachingstaff-edit-02.js}">
    </script>
</div>
</body>
</html>




