<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
</head>
<body>
<div class="container-fluid" style="min-width: 80%" th:fragment="dc-student-confirm" id="confirmpage">
    <div  th:replace="fragments/dc-components/dc-form-component/dc-alert/dc-alert.html::dc-success-alert
    (success_text='You have successfully added one new admission!')"></div>
    <div style="margin-top: 32px" class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary" >Back to Home</button>
        </div>

        <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-primary">Add another student</button>
        </div>
    </div>
</div>
</body>
</html>