<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Classwise</title>
<script>
    $(document).ready(function(){
        $("input[type='button']").click(function(){
            var radioValue = $("input[name='gender']:checked").val();
            if(radioValue){
                alert("Your are a - " + radioValue);
            }
        });
    });
</script>
</head>
<body>
<div class="container dc-form-body" th:fragment="dc-student-edit-02" id="updatestudentid" >
    <form th:action="@{/updatestudent/}" id="updatestudform" method="post" th:object="${studentbyid}">
        <h3>
            <small class="text-gray">Student Information</small>
        </h3>
        <br/>
        <div class="col-sm-10 ">
<input type="hidden" th:field="*{id}">
            <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Admission No *',name='studentId',id='admissionNumber',
                        value='studentbyid.studentId',required=true,readonly:false)"></div>
        </div>
        <div class="col-sm-10 ">
            <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Name *',value='studentbyid.name',id='studentName',name='name',required=true)"></div>
        </div>
        <div class="col-sm-10 ">
            <div th:replace="fragments/dc-components/dc-form-component/dc-form-textarea/dc-form-textarea.html::dc-form-textarea(label='Address',value='studentbyid.address', id='address',name='address')"></div>
        </div>

        <div class="form-group row">
            <div class="col-sm-5">
                <div th:replace="fragments/dc-components/dc-form-component/dc-form-bloodgroup/dc-form-bloodgroup.html::dc-form-bloodgroup(label='Bloodgroup *',blood='studentbyid.bloodGroup',id1='blood',name='bloodGroup',required=true)">
                </div>
            </div>
            <div class="col-sm-5">
                <div th:replace="fragments/dc-components/dc-form-component/dc-form-date/dc-form-date.html::dc-form-date(label='Date of Birth*',id='date',value='studentbyid.dateOfBirth',name='dateOfBirth', required=true)"></div>
            </div>
        </div>
        <div class="col-sm-10 ">
            <div th:replace="fragments/dc-components/dc-form-component/dc-form-radiobut/dc-form-radiobut.html::dc-form-radiobut(label='Gender *',value='studentbyid.gender',requrired=true,name='gender')"></div>
        </div>
        <div class="col-sm-10 ">
            <div th:replace="fragments/dc-components/dc-form-component/dc-number-input/dc-number-input.html::dc-number-input(label='Height',value='studentbyid.height',name='height')"></div>
        </div>
        <div class="col-sm-10 ">
            <div th:replace="fragments/dc-components/dc-form-component/dc-number-input/dc-number-input.html::dc-number-input(label='Weight',value='studentbyid.weight',name='weight')"></div>
        </div>
        <!-- <div class="from-label-group" th:replace="fragments/imagefile::imagefile(label='PHOTO',name='displayImage' )"></div>-->
        <div class="col-sm-10 ">

                <div class="form-group row">
                     <label th:text="Standard" style="text-align: end;" class="col-sm-3 col-form-label"></label>
                     <div class="col dc-input">
                         <select class="form-control" th:field="*{grade.id}" th:id="grade_input" th:required="true">
                             <option value="0">Select class</option>
                             <option th:each="gradeCommand : ${gradeList}" th:value="${gradeCommand.id}"
                                     th:text="${gradeCommand.standard}+'  '+${gradeCommand.division}"></option>
                         </select>
                     </div>
            </div>
        </div>
        <h3>
            <small class="text-gray">Parent Information</small>
        </h3><br/>
        <input type="hidden" th:field="*{parent.id}">
        <!-- <input type="text" th:field = "${command.parentid.pname}"  class="form-control" > -->
        <div class="col-sm-10 ">
            <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Parent Name',value='studentbyid.parent.name',name='parent.name',required=true)"></div>
        </div>
        <div class="col-sm-10 ">
            <div th:replace="fragments/dc-components/dc-form-component/dc-number-input/dc-number-input.html::dc-number-input(label='Phone *',id='phoneParent', value='studentbyid.parent.phone',name='parent.phone',required=true)"></div>
        </div>
        <div class="col-sm-10 ">
            <div th:replace="fragments/dc-components/dc-form-component/dc-number-input/dc-number-input.html::dc-number-input(label='Phone Secondary',value='studentbyid.parent.altPhone',name='parent.altPhone')"></div>
        </div>
        <div th:replace="fragments/dc-components/dc-form-component/dc-form-button/dc-form-button.html::dc-form-button(submit_id='studentupdate')"></div>
    </form>
      <script th:src="@{js/dc-components/dc-screen-layout/dc-student-edit-02.js}">
    </script>
    
</div>
</body>
</html>