<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>add student form</title>
</head>
<body>
<div class="container" style="min-width: 80%" th:fragment="dc-student-edit" id="student">

    <h4 class="dc-title" align="left" style="font-size: 32px">New Admission</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" id="home"><a href="/mydashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Student</li>
        </ol>
    </nav>
    <div class="dc-form-body col" id="formBody">
 
        <div id="existPanel" class="alert alert-danger" role="alert" style="display: none">
            Admission number you have entered already exists
        </div>

        <div id="errorPanel" class="alert alert-danger" role="alert" style="display: none">
            Mandatory fields cannot be empty
        </div>
        <div class="alert alert-warning" role="alert">
            Admission number should be unique for every student
        </div>
        <div class="alert alert-info" role="alert">
            * Marked fields are mandatory
        </div>
        <div class="justify-content-center align-items-center">
        <form action="#" id="addstudform" method="post" th:object="${command}">
            <h3>
                <small class="text-gray">Student Information</small>
            </h3>
            <br/>
            <div class="col-sm-10 mx-auto">
            <div  th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Admission No *',name='studentId',id='admissionNumber',
                        required=true)"></div>
                        </div>
            <div th:replace="fragments/formbutton::formbutton(label='ADD',name='submit',class='btn btn-lg btn-primary btn-block text-uppercase',buttonid='studentsubmit')"></div>

        </form>
</div>
    </div>

    
</div>
</body>
</html>