<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
</head>
<body>
<div class="container dc-form-body" th:fragment="dc-teacher-search" >
<h4 align="left" style="font-size: 32px">SEARCH....</h4>
<div th:replace="fragments/dc-components/dc-dashboard-components/dc-breadcrumb/dc-breadcrumb.html::
			dc-breadcrumb(active_item='Search Teacher Details')"></div>
    <form action="#" id="addstudform" method="post" th:object="${command}">
	<div class="col-sm-10 ">
                <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Search *',name='keyword',id='keyword',
                        required=true)"></div>
            </div>
           <div th:replace="fragments/dc-components/dc-form-component/dc-form-button/dc-form-button.html::dc-form-button(submit_id='studentsearch')"></div>
    </form>
    <div th:id="dc-search">

    </div>

    <script th:src="@{js/dc-components/dc-screen-layout/dc-teacher-search.js}">
    </script>
 </div>

</body>
</html>