<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit</title>
</head>
<body>
<div class="container" style="min-width: 80%" th:fragment="dc-teacher-edit" id="student">

    <h4 class="dc-title" align="left" style="font-size: 32px">New Admission</h4>
    <div th:replace="fragments/dc-components/dc-dashboard-components/dc-breadcrumb/dc-breadcrumb.html::
    		dc-breadcrumb(active_item='Edit Teacher')"></div>
    <div class="dc-form-body col" id="formBody">
 
        <div class="alert alert-warning" role="alert">
            Teacher ID should be unique for every Teacher
        </div>
        <div class="alert alert-info" role="alert">
            * Marked fields are mandatory
        </div>
        <div class="justify-content-center align-items-center">
        <form action="#" id="teacheredit" method="post">
            <h3>
                <small class="text-gray">Teacher Information</small>
            </h3>
            <br/>
            <div class="col-sm-8 mx-auto">
            <div  th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input
            (label='Teacher ID*',name='TeacherId',id='teacherid',required=true)"></div>
            </div>
            <div th:replace="fragments/dc-components/dc-form-component/dc-form-button/dc-form-button.html::dc-form-button
            (submit_id='teachersubmit')"></div>
        </form>
</div>
 <div id="dc-teacher-edit">
    </div>
    </div>
      <script th:src="@{js/dc-components/dc-screen-layout/dc-teacher-edit.js}">
    </script>
   
</div>
</body>
</html>