<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher details</title>
</head>
<body>
<div class="container dc-form-body" th:fragment="dc-teacher-list">
    <table style="width:100%" class="table table-condensed">
        <tr>
            <th>Teacher Id</th>
            <th>Name</th>
            <th>Gender</th>
            <!--  <th>Phone Number</th>
            <th>Gender</th>
            <th>Date of Birth</th>-->
            <th></th>
            <th></th>
        </tr>
        <tr th:each="teachers : ${teachers}" th:if="${teachers.isDelete}==false">
			<td th:text="${teachers?.name}">
			<td th:text="${teachers?.teacherId}">
      		<td th:text="${teachers?.gender}">
      		<!--  <td th:text="${teachers.teacherid}"> --> 
      		<td><a th:href="@{'/deleted/'+ ${teachers.id}}" onclick="return confirm('Are you sure want to delete this ?');" id="delete">Delete</a></td>
      		
      		
 
 </tr>
    </table>

</div>
</body>
</html>