<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>teacher details</title>
<link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>
</head>

<body>

<div class="container" style="min-width:80%" th:fragment="dc-teacher-form" id="teacher" th:object="${teachercommand}">
<h4 align="left" style="font-size: 32px" >TeacherForm</h4>
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/mydashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Teacher</li>
        </ol>
    </nav>
<div class="dc-form-body">
<div id="errorPanel" class="alert alert-danger" role="alert" style="display: none">
            Mandatory fields cannot be empty
        </div>
        <div class="alert alert-info" role="alert">
            * Marked fields are mandatory
        </div>
        <form action="#"  id="addteacher" method="post" >
            <div style="padding-bottom: 22px">
                <h1 style="font-size: x-large" >Basic Information</h1>
            </div>


<div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Name *',name='name',id='name',required=true)"></div>
<div th:replace="fragments/dc-components/dc-form-component/dc-form-textarea/dc-form-textarea.html::dc-form-textarea(label='Address ',name='address')"></div>
<div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Phone Number *',name='phone',id='phone',required=true)"></div>
<div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Alternative Phone',name='altPhone')"></div>
<div th:replace="fragments/dc-components/dc-form-component/dc-form-dropdown/dc-form-dropdown.html::dc-form-dropdown(label='Blood Group *',bloodtitle='bloodGroup',name='dob')"></div>
<div th:replace="fragments/dc-components/dc-form-component/dc-form-radiobut/dc-form-radiobut.html::dc-form-radiobut(label='Gender *',name='gender')"></div>
 <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input(label='Teacher Id *',name='tid',id='tid',required=true)"></div>
<div th:replace="fragments/dc-components/dc-form-component/dc-form-button/dc-form-button.html::formbutton(label='Submit',name='submit',class='btn btn-lg btn-primary btn-block text-uppercase',buttonid='teachersubmit')"></div>
</form>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script th:inline="javascript">

        $(document).ready(function(){
            $("#teachersubmit").click(function(e){
                e.preventDefault();
                console.log("hai");
                var formElements  = document.getElementById('addteacher').elements;
                var hasError = false;
                for(var i=0; i < formElements.length; i++){
                    var element = formElements[i];

                    console.log(element.id+"="+element.value);
                    if((element.hasAttribute('required'))&&element.value==''){
                        element.classList.add("is-invalid")
                        hasError = true;
                    }else{
                        element.classList.add("is-valid")
                    }
                }
                if(hasError){
                    console.log('error')
                    $('#errorPanel').show();
                }else{
                $.ajax({
                    method: "POST",
                    url: "/addteacher",
                    data: $('#addteacher').serialize(),
                    success: function(status){
                        if(status) {
                           $(".body").html(status)
                        }
                    }
                });
            }
        });
            $(".dc-input").focusout(function(e) {
                var errorMessageElementId = e.currentTarget.id+'_message';
                var errorMessage = '';
                var inputElementId = e.currentTarget.id+'_input';
                var inputText = $('#'+inputElementId).val();
                console.log(inputText);
                if($('#'+inputElementId).prop('required') && inputText==''){
                    errorMessage = 'Field cannot be empty';
                }
                $('#'+errorMessageElementId).text(errorMessage);
            });  
        });
    </script>
</div>
</body>
</html>