<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="dropdown" th:fragment ="dc-form-dropdown" >
		<div class="form-group row">
		<label th:text="${label}" style="text-align: end;" class="col-sm-6 col-form-label"></label>
		 <div th:id="${id}" class="col dc-input">
 <select class="form-control" th:name="${name}" th:id="${id}">
        <option value="0">select</option>
        <option th:each="option : ${options}"
                th:value="${optionid}"
                th:text="${optionname}"></option>
    </select>
        </div>
        </div>
        </div>
      
</body>
</html>

