<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student list dispaly</title>
    <link th:href="@{/assets/css/studentdisplay.css}" rel="stylesheet"/>
</head>
<body>
<div class="container" th:fragment="studentdisplay" >
<table style="width:100%">
<caption><b>STUDENTS LIST</b></caption>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
    <th>address</th>
    <th>address</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
     <td>50</td>
      <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
     <td>50</td>
      <td>50</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
     <td>50</td>
     <td>50</td>
  </tr>
   <tr>
    <td>Eve</td>
    <td>Jackson</td>
     <td>50</td>
      <td>50</td>
    <td>94</td>
  </tr>
   <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
     <td>50</td>
      <td>50</td>
  </tr>
</table>
</div>
</body>
</html>







