<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student list dispaly</title>
</head>
<body>
<div class="container" th:fragment="studentdisplay" >
<table style="width:100%">
<caption><b>STUDENTS LIST</b></caption>
  <tr>
    <th>Student ID</th>
    <th>Name</th> 
    <th>Alternative ph</th>
    <th>Phone number</th>
    <th>Gender</th>
    <th>BloodGroup</th>
  </tr>
 <tr th:each="student : ${liststudents}">
			<td th:text="${student.id}">
			<td th:text="${student.name}">
      		<td th:text="${student.altPhone}">
      		<td th:text="${student.phone}">
      		<td th:text="${student.gender}">
      		<td th:text="${student.bloodGroup}">
      		
 
 </tr>
</table>
</div>
</body>
</html>







