<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dropdown</title>
</head>
<body>
<div th:fragment ="dropdown" >
      <div class="form-label-group">
              <div class="form-inline">
              <label  th:text="${label}"   class="mr-sm-2" ></label>
<!--  <select class="form-control"  name="dropdowny" id="dropdown" required="required">
                    <option disabled="disabled" selected="selected" >         </option>
                    <option th:each="" : ${agencies}"  th:text="${agency.name}" ></option>

                </select>  -->     
       
<select >
<option value = "SELECT">SELECT </option>
	<option value = "A_POS">A+ve</option>
	<option value = "A_NEG">A-ve</option>
	<option value = "B_POS">B+ve</option>
	<option value = "B_NEG">B-ve</option>
	<option value = "O_POS">O+ve</option>
	<option value = "O_NEG">O-ve</option>
	<option value = "AB_POS">AB+ve</option>
	<option value = "AB_NEG">AB-ve</option>
</select>
        </div>
</body>
</html>