<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DropdownTeacher</title>
</head>
<body>

<div>
	<div class="form-group row" th:fragment ="dropdownteacher" >
		<label th:text="${label}" style="text-align: end;" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-2">


 <select class="form-control" id="testOrder" th:name="${name}">
        <option value="">Teachers</option>
        <option th:each="teacher : ${teachers}"
                th:value="${teacher.name}"
                th:text="${teacher.name}"></option>
    </select>
        </div>
         </div>
          </div>
</body>
</html>