<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>submit</title>
<link th:href="@{/assets/css/formbutton.css}" rel="stylesheet"/>
</head>
<body>
<div th:fragment ="formbutton" >
  
              <div class="form-label-group">
               <div class="form-inline">
                 <label  th:text="${label}"   class="mr-sm-2" ></label>
                 <button  class=" btn btn-lg btn-primary btn-block text-uppercase"   th:name="${name}"  id="login" type="submit">LOGIN</button>
                
              </div>
          </div>
      </div>
</body>
</html>

             
            
              






	






	

