<!--  
<!DOCTYPE html>

<body>
<div th:fragment ="forminput" class="sample">
 <div class="form-label-group">
              <div class="form-inline">
              <label  th:text="${label}"   class="control-label col-sm-2" ></label>
                <input  class="form-control"  th:name="${name}" /><br/>
              </div>
              </div>
              </div>
            
      
</body>
</html>

-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment ="forminput" class="forminput">
    <div class="form-group row">
        <label th:text="${label}" style="text-align: end;" class="col-sm-3 col-form-label"></label>
        <div th:id="${id}" class="col-sm-7 dc-input">
            <input th:required="${required}" th:id="${id}+'_input'" type="text" th:name="${name}" class="form-control" >
            <small th:id="${id}+'_message'" class="form-text text-danger"></small>
        </div>
    </div>
 <!--  <div class="form-label-group">
              <div class="form-inline">
              <label  th:text="${label}"   class="mr-sm-2" ></label>
                <input  class="form-control"  th:name="${name}" /><br/>
              </div>
              </div>-->
</div>
</body>
</html>




