<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>submit</title>
<link th:href="@{/assets/css/csss.css}" rel="stylesheet"/>
</head>
<body>
<div th:fragment ="forminput">
 
              
              
              <div class="form-label-group">
              <div class="form-inline">
              <label for="userid" class="mr-sm-2" >USER ID</label>
                <input type="text" id="userid" class="form-control"  required autofocus>
              </div>
              </div>
      </div>
   
</body>




	

