<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>submit</title>
<link th:href="@{/assets/css/csss.css}" rel="stylesheet"/>
</head>
<body>
<div th:fragment ="formpw">
  
           
               <div class="form-label-group">
               <div class="form-inline">
           <label for="inputPassword" class="mr-sm-2">PASSWORD</label>
                <input type="password" id="inputPassword" class="form-control" required>
                
              </div>    
            </div>    
  </div>
</body>




	

