<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>submit</title>
</head>
<body>
<div th:fragment ="formbutton"  class="class">
  
              <div class="form-label-group">
               <div class="form-inline">
                
                 <button th:class="${class}" th:text="${label}"  th:name="${name}"  id="login" type="submit"></button>
                
              </div>
          </div>
      </div>
</body>
</html>

             
            
              






	






	

