<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="item"> 
<div class="card-deck">
  <div class="card">
   
    <div class="card-body">
      <h5 class="card-title">Student</h5>
      
 <div th:replace="fragments/option1 :: option1"></div>
<div th:replace="fragments/option2 :: option2"></div>
<div th:replace="fragments/option3 :: option3"></div>
      
     
      
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Teacher</h5>
      
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
      <h5 class="card-title">Admin</h5>
      
    </div>
  </div>
</div>




</div>
  
    
  


</body>
</html>