<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="nav">
<nav>
<input type="checkbox" id="check">
<label for="check" class="checkbtn">
<i class="fas fa-bars"></i></label>
<label class="logo">Digicampus</label>
<ul>
<li><a class="active" href="#">Home</a></li>
<li><a href="#">Userid</a></li>
<li><a href="#">Signout</a></li>
</ul>
</nav>
</div>
</body>
</html>