<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>submit</title>
</head>
<body>
<div th:fragment ="primary"  class="class">
    <div style="margin-top: 32px;margin-left: 150px " class="btn-toolbar justify-content-center" role="toolbar"  aria-label="Toolbar with button groups" >
        <div class="btn-group " role="group" aria-label="Third group">
            <button  class="btn btn-primary" th:text="${label}"  th:name="${name}"  type="submit"></button>
        </div>
       
    </div>

  
<!--              <div class="form-label-group">-->
<!--              -->
<!--                -->
<!--                 <button th:class="${class}" th:text="${label}"  th:name="${name}"  id="login" type="submit"></button>-->
<!--                -->
<!--              </div> -->
</div>
</body>
</html>

             
            
              






	






	

             
            