<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>submit</title>
</head>
<body>
<div th:fragment ="primary"  class="class">
    <div style="margin-top: 32px" class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">

        <div class="btn-group" role="group" aria-label="Third group">
            <input style="width: 170px  " type="submit" th:value="${name}" class="btn btn-primary" th:id="${buttonid}">
        </div>
    </div>
</div>
</body></html>