<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>radiobut</title>
</head>
<body>
<div th:fragment ="radiobut">
    <div class="form-group row" th:fragment ="date" >
        <label th:text="${label}" style="text-align: end;" class="col-sm-3"></label>
        <div class="col-sm-7" id="gender">
            <div class="custom-control custom-radio custom-control-inline" >
                <input type="radio" id="genderMale" name="gender" class="custom-control-input" value="Male" th:required="${required}">
                <label class="custom-control-label" for="genderMale">Male</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="genderFemale" name="gender" class="custom-control-input" value="Female">
                <label class="custom-control-label" for="genderFemale">Female</label>
            </div>
        </div>
    </div>

<!--<div th:fragment ="radiobut" >-->
<!--<div class="form-label-group">-->
<!--<div class="form-inline">-->
<!--<label th:text="${label}" class="mr-sm-2"></label>-->
<!--<input type="radio" value="MALE" >male-->
<!--<input type="radio" value="FEMALE" >Female-->
<!--</div>-->
<!--</div>-->
</div>
</body>
</html>