<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>student list</title>
</head>
<body>
<h1> Grade listed here</h1>
<table><tr>
<th>gardeid</th>
<th>division</th>
<th>standard</th>
<th>strength</th>


</tr>

<tr th:each="grade : ${grade}">
			<td th:text="${grade.id}">
      		<td th:text="${grade.division}">
      		<td th:text="${grade.standard}">
      		<td th:text="${grade.strength}">
      		
      		
      		
      	</tr>
      	<tr><td>
      	<a th:href="@{'/et/'+ ${grade.id}}">Edit</a>
      	</td></tr>
</table>

</body>
</html>