<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<title>Grade</title>
</head>
<body bgcolor="#a8b5ac">
<h1 align="center">Grade Creation Form</h1>
<div id="form" class="grade" align="justify">
<form action="" id="" method="post">
<label for="std">Standard :</label>
<select id = "std">
               <option value = "99">L K G</option>
               <option value = "98">U K G</option>
               <option value = "1">First</option>
               <option value = "2">Second</option>
               <option value = "3">Third</option>
               <option value = "4">Fourth</option>
               <option value = "5">Fifth</option>
               <option value = "6">Sixth</option>
               <option value = "7">Seventh</option>
               <option value = "8">Eighth</option>
               <option value = "9">Ninth</option>
               <option value = "10">Tenth</option>  
			   <option value = "11">Plus One</option>  
			   <option value = "12">Plus Two</option>                                           
</select>
<br>
<br>
<label for="std">Division:</label>
<select id="division">
		<option value="1">A</option>
		<option value="2">B</option>
		<option value="3">C</option>
		<option value="4">D</option>
</select>
<br>
<br>
<label for="strength">Max Strength:</label>
<input type="text" id="strength">
<br>
<br>
<button type="button" >Save</button>

</form>
</div>
</body>
</html>