<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body th:align="center">
    <div>
        <img src="/images/digicampus.png" style="width:500px;height:600px;"/>
    </div>
    

    <form action="#" th:action="@{/admin/validate}" method="post">
        <label for="loginId">Username</label>
        <input type="text" id="loginId" name="loginId"/><br/>
        <label for="password">Password</label>
        <input type="text" id="password" name="password"/><br/>
        <input type="submit" name="login" value="Login"/>
    </form>
    <h6 th:text="${message}"></h6>
</body>
</html>