<!-- gopika -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>MyDashboard</title>
<meta name="viewport" content="width=device-width , initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
     <link th:href="@{/assets/css/studentdisplay.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
      <script th:src="@{/assets/js/dashboard.js}"></script>
</head>
<body>
<div id="dashboard">
<div th:replace="fragments/nav :: nav"></div>
<div id="results" class="dcbody container-fluid">
 <div th:replace="fragments/item :: item"  ></div>
</div>
</div>
</body>

</html>