<!-- gopika -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>MyDashboard</title>
<meta name="viewport" content="width=device-width , initial-scale=1.0">
 <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
 <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:inline="javascript">

        $(document).ready(function(){
            $(".addstudent").click(function(e){
                e.preventDefault();
                console.log("haiiiiiiiii")
        	$.ajax({
        		method: "POST",
        		url: "/add_student",
        		success: function(status){
                    if(status) {
                    	 console.log(status);
                       $(".body").html(status)
                    }
                }
            });
        })
    </script>

<div th:replace="fragments/nav :: nav"></div>
<div class="body">
<div th:replace="fragments/item :: item"  ></div>
</div>
</body>
</html>