<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>student list</title>
</head>
<body>
<h1> staff listed here</h1>
<table><tr>
<th>staff id</th>
<th>alternate_phone</th>
<th>name</th>
<th>address</th>
<th>actions</th>

</tr>

<tr th:each="nonteachingstaff : ${listteachings}">
			<td th:text="${nonteachingstaff.id}">
      		<td th:text="${nonteachingstaff.altPhone}">
      		<td th:text="${nonteachingstaff.name}">
      		<td th:text="${nonteachingstaff.address}">
      		
      		<td>
      	<a th:href="@{'/change/'+${nonteachingstaff.id}}">Edit</a>
      	<a th:href="@{'/dele/'+ ${nonteachingstaff.id}}">Delete</a>
      	
      	</td></tr>
      		
 </table>
 </body>
</html>