<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>nonteaching list</title>
</head>
<body>
<h1> Nonteaching  listed here</h1>
<table><tr>
<th>alternate_phone</th>
<th>name</th>
<th>address</th>
</tr>
<tr th:each="nonteachingstaff : ${nonteachingstaff}">
			<td th:text="${nonteachingstaff.altPhone}">
      		<td th:text="${nonteachingstaff.name}">
      		<td th:text="${nonteachingstaff.address}">
      		</tr>
      	
</table>
</body>
</html>