<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>nonteaching list</title>
</head>
<body>
<h1> Nonteaching  listed here</h1>
<table><tr>
<th>nonteaching Attendance ID</th>
<th>nonteaching staffid</th>
<th>date</th>
<th>attendance</th>

</tr>
<tr th:each="nstaffattendance : ${listNonStaffs}">
			<td th:text="${nstaffattendance.id}">
			<td th:text="${nstaffattendance.nonTeachingS.id}">
			<td th:text="${nstaffattendance.date}">
      		<td th:text="${nstaffattendance.yes}">
      		
      		</tr>
      		<tr><td>
      	    <a th:href="@{'/changing/'+ ${nstaffattendance.id}}">Edit</a>
      		<a th:href="@{'/deleting/'+ ${nstaffattendance.id}}">Delete</a>
      		
      	
          
      	</td></tr>
      	
</table>
</body>
</html>