<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>periods list</title>
</head>
<body>
	<h1>period listed here</h1>
<table>
<tr>
<th>Period ID</th>
<th>Starting time</th>
<th>Ending time</th>
<th>student_timetable_id</th>
<th>teacher_timetable_id</th>
</tr>

<tr th:each="period: ${period}">
<td th:text="${period.id}">
<td th:text="${period.startingTime}">
<td th:text="${period.endingTime}">
<td th:text="${studentTimeTable.id}">
<td th:text="${teacherTimetable.id}">
</tr>
</table>
</body>
</html>