<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>route details</title>
</head>
<body>
<h1> route  table</h1>
<table><tr>

<th>routename</th>
<th>Starting Time</th>
<th>Arrival</th>
<th>Departure</th>
<th>Ending Time</th>
<th>Schoolbusid</th>

</tr>
<tr th:each="route : ${route}">
			
      		<td th:text="${route.routeName}">
      		<td th:text="${route.startngTime}">
      		<td th:text="${route.arrival}">
      		<td th:text="${route.departure}">
      		<td th:text="${route.endingTime}">
      		<td th:text="${route.schoolBus}">
      		</tr>   
 <tr><td>
      	<a th:href="@{'/a/'+ ${route.id}}">Edit</a>
      	</td></tr>     		
</table>
</body>
</html>