<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>schoolbus list</title>
</head>
<body>

<h1> Schoolbus listed here</h1>
<table><tr>

<th>busnumber</th>
<th>driver</th>
<th>helper</th>
<th>registration</th>
<th>routeid</th>
<th>actions</th>
</tr>

<tr th:each="schoolBus : ${listschoolbus}">
			
      		<td th:text="${schoolBus.busNumber}">
      		<td th:text="${schoolBus.driver}">
      		<td th:text="${schoolBus.helper}">
      		<td th:text="${schoolBus.registration}">
      		<td th:text="${schoolBus.id}">
      		
      	
      	<td>
      	
 <a th:href="@{'/edi/'+ ${schoolBus.busNumber}}">Edit</a>
<a th:href="@{'/dlt/'+ ${schoolBus.busNumber}}">Delete</a>
      	</td></tr> 
</table>

</body>
</html>