<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>student list</title>
</head>
<body>
<div class="container" style="min-width: 80%" th:fragment="studdisplay" id="studdis">
<h4 align="left" style="font-size: 32px">Students List</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" id="home"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Student List</li>
        </ol>
    </nav>
    <div class="dc-form-body">

      

            <div style="padding-bottom: 22px">
                <h1 style="font-size: x-large" >Basic Information</h1>
            </div>
<table><tr>
<th>student id</th>
<th>alternate_phone</th>
<th>name</th>
<th>address</th>
<th>actions</th>

</tr>

<tr th:each="student : ${liststudents}">
			<td th:text="${student.id}">
      		<td th:text="${student.altPhone}">
      		<td th:text="${student.name}">
      		<td th:text="${student.address}">
      		
      		<td>
      	<a th:href="@{'/edit/'+ ${student.id}}">Edit</a>
      	<a th:href="@{'/delete/'+ ${student.id}}">Delete</a>
      	
      	</td></tr>
      		
 </table>
 </div>
 </div>
 </body>
</html>