<!-- Anand A B -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Time Table</title>
</head>
<body>
<form action="#" th:action="@{/timetableinsert}" th:object="${studentTimetable}" method="post">
<label for="day">Day:</label>
<select th:field="*{day}">
               <option value = "MONDAY">MONDAY</option>
               <option value = "TUESDAY">TUESDAY</option>
               <option value = "WEDNESDAY">WEDNESDAY</option>
               <option value = "THURSDAY">THURSDAY</option>
               <option value = "FRIDAY">FRIDAY</option>
               <option value = "SATURDAY">SATURDAY</option>
               <option value = "SUNDAY">SUNDAY</option>
</select>              
<br>
<br>
<label for="grade_id">Grade Id:</label>
<input type="text" th:field="*{Grade.id}">
<br>
<br>
<input type="submit" value="Submit" />
</form>
</body>
</html>