<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>StudenAttendance</title>
</head>
<body>
<form action="#" th:action="@{/studentattendance}" th:object="${student_attendance}" method="post">
<label for="date">Date:</label>
<input type="date" th:field="*{date}">
<br>
<br>
<label for="attendance">Attendance:</label>
<input type="radio" th:field="*{yes}" value="yes">Yes
<input type="radio" th:field="*{yes}" value="no">No
<br>
<br>
<label for="studentid">student Id:</label>
<input type="text" th:field="*{student}">
<br>
<br>
<input type="submit" value="Submit" />
</form>
</body>
</html>