<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>subject list</title>
</head>
<body>
<h1> Subject listed here</h1>
<table><tr>

<th>subjectid</th>
<th>name</th>
<th>is examable</th>
<th>optional</th>
<th>period id</th>

</tr>

<tr th:each="subject : ${subject}">
			
      		<td th:text="${subject.id}">
      		<td th:text="${subject.name}">
      		<td th:text="${subject.isExamable}">
      		<td th:text="${subject.optional}">
      		<td th:text="${subject.period.id}">
      		
      		
      		
      	</tr>
      	<tr><td>
      	<a th:href="@{'/a/'+ ${subject.id}}">Edit</a>
      	</td></tr>
</table>

</body>
</html>