<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TEACHER LIST</title>
</head>
<body>
<h1> TEACHER HOME</h1>
<table><tr>
<th>teacherid</th>
<th>alternate_phone</th>
<th>name</th>
<th>address</th>
</tr>

<tr th:each="teacher : ${teachers}">
			<td th:text="${teacher.teacherId}">
      		<td th:text="${teacher.altPhone}">
      		<td th:text="${teacher.name}">
      		<td th:text="${teacher.address}">
      		
      		<td>
      	<a th:href="@{'/t/'+ ${teacher.id}}">Edit</a>
      	<a th:href="@{'/deletins/'+ ${teacher.id}}">Delete</a>
      	</td></tr>
      		
      
</table>
<div class="col-lg-3" th:object="${test}">
    <select class="form-control" id="testOrder" name="testOrder">
        <option value="">Select Test Order</option>
        <option th:each="teacher : ${teachers}"
                th:value="${teacher.name}"
                th:text="${teacher.name}"></option>
    </select>
</div>
</body>
</html>