<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{'/updateschoolBus/'+ ${schoolBus.busNumber}}" th:object="${schoolBus}" method="post">
            <p class="text"><label>bus number</label>  <input type="text" th:field="*{busNumber}" /></p>
            <p class="text"><label>Driver</label> <input type="text" th:field="*{driver}" /></p>
             <p class="text"><label>helper</label>  <input type="text" th:field="*{helper}" /></p>
            <p class="text"><label>registration</label> <input type="text" th:field="*{registration}" /></p>
            
            
            <p><input type="submit" value="Submit" />  </p>

        </form>

</body>
</html>