<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>card</title>
</head>
<body>
<div th:fragment="dc-dashboard-card"> 
<div class="card">
      <div class="card-header dc-menu-header" th:text="card-head"></div>
      <div class="card-body dc-menu-body">
        <div th:replace="fragments/alloptions :: option (name='Add Student',val='addstudent')"></div>
        <div th:replace="fragments/alloptions :: option (name='Edit Student',val='editstudent')"></div>
        <div th:replace="fragments/alloptions :: option (name='Display Student',val='displaystudent')"></div>
      </div>
</div>
</div>
</body>
</html>