<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>card</title>
</head>
<body>
<div th:fragment="dc-dashboard-card">
    <!--First Row of dashboard-->
    <div class="card-columns" style="column-gap: 40px">
        <div class="card">
            <div class="card-header dc-menu-header">Admissions</div>
            <div class="card-body dc-menu-body">
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Add Student',val='addstudent')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Edit Student',val='editstudent')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Class Wise List',val='displaystudent')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Search Student',val='searchstudent')"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-header dc-menu-header">Teachers</div>
            <div class="card-body dc-menu-body">
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Add Teacher',val='addteacher')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Edit Teacher',val='editteacher')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Display Teacher',val='displayteacher')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Search Teacher',val='searchteacher')"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-header dc-menu-header">TimeTable</div>
            <div class="card-body dc-menu-body">
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Add Teacher TimeTable',val='addteachertimetable')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Edit Teacher TimeTable')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Display Student TimeTable')"></div>
            </div>
        </div>
    </div>
    <!--Second Row of dashboard-->
    <div class="card-columns" style="column-gap: 40px">
        <div class="card">
            <div class="card-header dc-menu-header">Non Teaching Staff</div>
            <div class="card-body dc-menu-body">
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Add NonTeaching Staff',val='addnonteaching')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Edit NonTeaching Staff',val='editnonteachingstaff')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Display NonTeaching Staff',val='displaynonteachingstaff')"></div>
            </div>
        </div>
    <div class="card">
            <div class="card-header dc-menu-header">SCHEME OF STUDIES</div>
            <div class="card-body dc-menu-body">
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Add Schemas',val='addschemas')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Edit Schemas',val='editschemas')"></div>
                <div th:replace="fragments/dc-components/dc-dashboard-components/dc-option-links/dc-option-links.html::dc-option-links(name='Display Schemas',val='displayschemas')"></div>
            </div>
        </div>
</div>
</div>
</body>
</html>