<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment ="dc-form-radiobut"  class="form-group row">
        <label th:text="${label}" style="text-align: end;" class="col-sm-3 col-form-label"></label>
        <div  class="col" id="${id}">
              <div class="custom-control custom-radio custom-control-inline" >

                <input type="radio" id="${id}+'genderMale'" th:text="male" th:name="${name}" class="custom-control-input"  th:value="${value}"  th:required="${required}">

              <!--    <label  th:text="${label}" style="text-align: end;" class="custom-control-label" ></label>-->

                <!--  <label  th:text="${label}" style="text-align: end;" class="custom-control-label" ></label>
                -->


                <input type="radio" id="${id}+'genderMale'" th:name="${name}" class="custom-control-input"  th:value="${value}"  th:required="${required}">
                <label class="custom-control-label" for="genderMale">Male</label>

            </div>
            <div class="custom-control custom-radio custom-control-inline">


                <input type="radio" id="${id}+'genderFemale'" th:text="female" th:name="${name}" class="custom-control-input" value="${value}"  th:required="${required}">
               <!--   <label th:text="${label}" style="text-align: end;" class="custom-control-label" ></label> -->

                

                <input type="radio" id="${id}+'genderFemale'" th:name="${name}" class="custom-control-input" th:value="${value}"  th:required="${required}">
                <label class="custom-control-label" for="genderFemale">Female</label> 

            </div>
            <small th:id="${id}+'_message'" class="form-text text-danger"></small>
            <small th:id="${id}+'_info'" class="form-text text-info"></small>
        </div>
    </div>
</body>
</html>



 