<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>add student form</title>
    <link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>

</head>
<body>
<div class="container" style="min-width: 80%" th:fragment="addstud" id="addstud">
    <h4 align="left" style="font-size: 32px">Add Student</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" id="home"><a href="/mydashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Student</li>
        </ol>
    </nav>
    <div class="dc-form-body" id="formBody">
        <div id="errorPanel" class="alert alert-danger" role="alert" style="display: none">
            Mandatory fields cannot be empty
        </div>
        <div class="alert alert-info" role="alert">
            * Marked fields are mandatory
        </div>
        <form action="#" id="addstudform" method="post" th:object="${command}">

            <h3>
                <small class="text-gray">Student Information</small>
            </h3>
            <br/>
            <div th:replace="fragments/forminput::forminput(label='Admission No *',name='studentId',id='admissionNumber',required=true )"></div>
            <div th:replace="fragments/forminput::forminput(label='Name *',name='name',id='studentName',required=true)"></div>
            <div th:replace="fragments/textarea::textarea(label='Address',name='address', id='address')"></div>

            <div th:replace="fragments/dropdown::dropdown(label='Bloodgroup *',bloodtitle='bloodGroup',name='dob',
            required=true,id1='blood',id2='dob')"></div>
            <!--           <div  th:replace="fragments/date::date(label='DOB',name='dateOfBirth' )"></div>-->
            <div th:replace="fragments/radiobut::radiobut(label='Gender *',name='gender')"></div>
            <div th:replace="fragments/forminput::forminput(label='Height',name='height' )"></div>
            <div th:replace="fragments/forminput::forminput(label='Weight',name='weight' )"></div>
            <!-- <div class="from-label-group" th:replace="fragments/imagefile::imagefile(label='PHOTO',name='displayImage' )"></div>-->


            <div class="form-group row">
                <label th:text="Standard" style="text-align: end;" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <div class="form-group blu-margin dc-input" id="grade">
                        <select class="form-control" th:field="${command.gradeid.id}" th:id="grade_input" th:required="true">
                            <option value="0">select Class</option>
                            <option th:each="gradeCommand : ${gradeList}" th:value="${gradeCommand.id}"
                                    th:text="${gradeCommand.standard}"></option>
                        </select>
                         <small id="grade+_message" class="form-text text-danger"></small>
                    </div>
                    <!--                        <input type="text" th:field = "${command.gradeid.id}" th:name="gradeid" class="form-control" >-->
                </div>
            </div>
            <!--           <div class="from-label-group" th:replace="fragments/forminput::forminput(label='GRADEID',name='gradeid' )"></div>-->
            <h3>
                <small class="text-gray">Parent Information</small>
            </h3><br/>
             <!-- <input type="text" th:field = "${command.parentid.pname}"  class="form-control" > -->
               <div class="from-label-group"
                 th:replace="fragments/forminput::forminput(label='Parent Name',name='parentid.pname')"></div>
                <div th:replace="fragments/forminput::forminput(label='Phone *',id='phoneParent', name='parentid.pphone',required=true )"></div>
                <div th:replace="fragments/forminput::forminput(label='Phone Secondary',name='parentid.paltPhone' )"></div>
<!--            <div class="from-label-group"-->
<!--                 th:replace="fragments/forminput::forminput(label='SCHOOLBUSID',name='schoolBusId' )"></div>-->
            <div th:replace="fragments/formbutton::formbutton(label='ADD',name='submit',class='btn btn-lg btn-primary btn-block text-uppercase',buttonid='studentsubmit')"></div>


        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:inline="javascript">

        $(document).ready(function () {
            $("#studentsubmit").click(function (e) {
                e.preventDefault();
                console.log("hai");
                var formElements  = document.getElementById('addstudform').elements;
                var hasError = false;
                for(var i=0; i < formElements.length; i++){
                    var element = formElements[i];

                    console.log(element.id+"="+element.value);
                    if((element.hasAttribute('required'))&&element.value==''){
                        element.classList.add("is-invalid")
                        hasError = true;
                    }else{
                        element.classList.add("is-valid")
                    }
                }
                if(hasError){
                    console.log('error')
                    $('#errorPanel').show();
                }else{
                    $.ajax({
                        method: "POST",
                        url: "/addstudent",
                        data: $('#addstudform').serialize(),
                        success: function (status) {
                            if (status) {
                                $(".body").html(status)
                            }
                        }
                    });
                }


            });


            $(".dc-input").focusout(function(e) {
                var errorMessageElementId = e.currentTarget.id+'_message';
                var errorMessage = '';
                var inputElementId = e.currentTarget.id+'_input';
                var inputText = $('#'+inputElementId).val();
                console.log(inputText);
                if($('#'+inputElementId).prop('required') && inputText==''){
                    errorMessage = 'Field cannot be empty';
                }
                $('#'+errorMessageElementId).text(errorMessage);
            });
        });
    </script>
</div>
</body>
</html>