
<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>add student form</title>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>
</head>
 <body>
<div class="container" th:fragment="addstud" id="addstud">
<h5 align="center">ADD STUDENT</h5>
    <div class="row">
        <form action="#"  id="addstudform" method="post" class=" ">
           <div  th:replace="fragments/forminput::forminput(label='NAME:',name='studname' )"></div>
           <div  th:replace="fragments/textarea::textarea(label='ADDRESS:',name='address' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='PHONE NO:',name='phoneno' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='ALTERNATIVE PHONE:',name='alternateno' )"></div>
           <div  th:replace="fragments/dropdown::dropdown(label='BLOODGROUP:',name='bloodgroup' )"></div>
           <div  th:replace="fragments/date::date(label='DOB:',name='dob' )"></div>
           <div  th:replace="fragments/radiobut::radiobut(label='GENDER:',name='gender' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='HEIGHT:',name='height' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='WEIGHT:',name='weight' )"></div>
           <div  th:replace="fragments/imagefile::imagefile(label='PHOTO:',name='file' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='STUDENTID:',name='studid' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='GRADEID:',name='gradeid' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='PARENTID:',name='parentid' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='SCHOOLBUSID:',name='schoolbusid' )"></div>
           <div  th:replace="fragments/formbutton::formbutton(label='ADD',name='submit',class='tn-primbtn btn-lg bary btn-block text-uppercase')"></div> 
        </form>
        </div>
        </div>
</body>
======= -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>add student form</title>
<link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>

</head>
 <body>
<div class="container" style="min-width: 80%" th:fragment="addstud" id="addstud">
<h4 align="left" style="font-size: 32px">Add Student</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" id="home"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Student</li>
        </ol>
    </nav>
    <div class="dc-form-body">

        <form action="#"  id="addstudform" method="post" th:object="${command}">

            <div style="padding-bottom: 22px">
                <h1 style="font-size: x-large" >Basic Information</h1>
            </div>
           <div th:replace="fragments/forminput::forminput(label='Name',name='name')"></div>
           <div  th:replace="fragments/textarea::textarea(label='Address',name='address' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='Phone',name='phone' )"></div>
           <div  th:replace="fragments/forminput::forminput(label='Phone Secondary',name='altPhone' )"></div>
           <div  th:replace="fragments/dropdown::dropdown(label='Bloodgroup',name='BloodGroup' )"></div>
<!--           <div  th:replace="fragments/date::date(label='DOB',name='dateOfBirth' )"></div>-->
           <div class="from-label-group" th:replace="fragments/radiobut::radiobut(label='GENDER',name='gender' )"></div>
           <div class="from-label-group" th:replace="fragments/forminput::forminput(label='HEIGHT',name='height' )"></div>
           <div class="from-label-group" th:replace="fragments/forminput::forminput(label='WEIGHT',name='weight' )"></div>
           <div class="from-label-group" th:replace="fragments/imagefile::imagefile(label='PHOTO',name='displayImage' )"></div>
           <div class="from-label-group" th:replace="fragments/forminput::forminput(label='STUDENTID',name='studentId' )"></div>
           <div class="from-label-group" th:replace="fragments/forminput::forminput(label='GRADEID',name='gradeId' )"></div>
           <div class="from-label-group" th:replace="fragments/forminput::forminput(label='PARENTID',name='parentId' )"></div>
           <div class="from-label-group" th:replace="fragments/forminput::forminput(label='SCHOOLBUSID',name='schoolBusId' )"></div>
           <div th:replace="fragments/formbutton::formbutton(label='ADD',name='submit',class='btn btn-lg btn-primary btn-block text-uppercase',buttonid='studentsubmit')"></div>
            

        </form>
        </div>
       
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script th:inline="javascript">

        $(document).ready(function(){
            $("#studentsubmit").click(function(e){
                e.preventDefault();
                console.log("hai");
                $.ajax({
                    method: "POST",
                    url: "/addstudent",
                    data: $('#addstudform').serialize(),
                    success: function(status){
                        if(status) {
                        	 console.log(status);
                           $(".body").html(status)
                        }
                    }
                });
            })
        })
$(document).ready(function(){
	$("#home").click(function(e){
		e.preventDefault();
		$.ajax({
			method: "POST",
			url: "/login",
			success: function(status){
				if(status) {
					console.log(status);
					$("#body").html(status)
				}
			}
		});
	})
})
    </script>
     </div>
</body>
</html>