<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>add student form</title>
<link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>
</head>
<body>
 <h5 >ADD STUDENT</h5>
<div class="container" th:fragment="addstud">
    <div class="row">
        <form action="#"  id="addstudform" method="post" class=" ">
           <div  th:replace="fragments/forminput::forminput(label='NAME',name='studname' )"></div>
           <div  th:replace="fragments/textarea::textarea(label='ADDRESS',name='address' )"></div>
              <div  th:replace="fragments/forminput::forminput(label='PHONE NO',name='phoneno' )"></div>
                 <div  th:replace="fragments/forminput::forminput(label='ALTERNATIVE PHONE',name='alternateno' )"></div>
                  <div  th:replace="fragments/dropdown::dropdown(label='BLOODGROUP',name='bloodgroup' )"></div>
                      <div  th:replace="fragments/date::date(label='DOB',name='dob' )"></div>
                          <div class="from-label-group" th:replace="fragments/radiobut::radiobut(label='GENDER',name='gender' )"></div>
                  <div class="from-label-group" th:replace="fragments/forminput::forminput(label='HEIGHT',name='height' )"></div>
                   <div class="from-label-group" th:replace="fragments/forminput::forminput(label='WEIGHT',name='weight' )"></div>
                   <div class="from-label-group" th:replace="fragments/imagefile::imagefile(label='PHOTO',name='file' )"></div>
                    <div class="from-label-group" th:replace="fragments/forminput::forminput(label='STUDENTID',name='studid' )"></div>
                     <div class="from-label-group" th:replace="fragments/forminput::forminput(label='GRADEID',name='gradeid' )"></div>
                      <div class="from-label-group" th:replace="fragments/forminput::forminput(label='PARENTID',name='parentid' )"></div>
                       <div class="from-label-group" th:replace="fragments/forminput::forminput(label='SCHOOLBUSID',name='schoolbusid' )"></div>
                  <div   th:replace="fragments/formbutton::formbutton(label='ADD',name='submit',class='btn btn-lg btn-primary btn-block text-uppercase')"></div>
            
        </form>
        </div>
        </div>
</body>
</html>