<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" >
<meta name="viewport" content="width=device-width, initial-scale=1">
    
     <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
<title>Exam insert details</title>
<link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>
</head>
<h5 align="center">EXAM NOTIFICATION DETAILS</h5>
<body>
<div th:fragment="examinsert">
        <form action="#"  id="examinsert" method="post" class=" ">
            <div  th:replace="fragments/forminput::forminput(label='EXAM NAME:',name='examname' )"></div>
            <div  th:replace="fragments/date::date(label='START DATE:',name='startdate')"></div>
            <div  th:replace="fragments/date::date(label='END DATE:',name='enddate' )"></div>
            <div  th:replace="fragments/formbutton::formbutton(label='SUBMIT',name='submit',class='btn btn-lg btn-primary btn-block text-uppercase')"></div>
        </form>
        </div>
</body>
</html>