<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
     <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
<title>grade form</title>
<link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>
</head>
<body>
 <h5 align="center">GRADE CREATION FORM</h5>
<div class="container" th:fragment="gradeform">
    <div class="row">
        <form action="#"  id="gradeform" method="post" class=" ">
         
                  <div  th:replace="fragments/dropdown2::dropdown2(label='STANDARD:',name='standard' )"></div>
               <div  th:replace="fragments/dropdown3::dropdown3(label='DIVISION:',name='division' )"></div>
                 <div  th:replace="fragments/forminput::forminput(label='MAXIMUM STRENGTH:',name='maxstrength' )"></div>
              <div th:replace="fragments/formbutton::formbutton(label='SUBMIT',name='submit')"></div>
              </form>
              </div>
              </div>