<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>timetable</title>
<link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>
</head>
<body>
<div class="container" style="min-width:80%" th:fragment="studtimetable" id="stimetable">
<h4 align="left" style="font-size: 32px" >Student Timetable</h4>
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Student Timetable</li>
        </ol>
    </nav>
<div class="dc-form-body">
        <form action="#"  id="studtimetable" method="post" th:object="${studtimetable}">
            <div style="padding-bottom: 22px">
                <h1 style="font-size: x-large" >Basic Information</h1>
            </div>
<div th:replace="fragments/datedrop :: datedrop(label='Days:',name='dayss')"></div>
<div th:replace="fragments/forminput :: forminput(label='Grade Id:',name='gid')"></div>
<div th:replace="fragments/formbutton::formbutton(label='submit',name='submit',class='btn btn-lg btn-primary btn-block text-uppercase',buttonid='studsubmit')"></div>
</form>
</div>

</div>
</body>
</html>