<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>teacher details</title>
<link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>
</head>

<body>

<div class="container" style="min-width:80%" th:fragment="teacher" id="teacher" th:object="${teachercommand}">
<h4 align="left" style="font-size: 32px" >TeacherForm</h4>
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Teacher</li>
        </ol>
    </nav>
<div class="dc-form-body">
        <form action="#"  id="addteacher" method="post" >
            <div style="padding-bottom: 22px">
                <h1 style="font-size: x-large" >Basic Information</h1>
            </div>


<div th:replace="fragments/forminput :: forminput(label='Name:',name='name')"></div>
<div th:replace="fragments/textarea :: textarea(label='Address:',name='address')"></div>
<div th:replace="fragments/forminput :: forminput(label='Phone Number:',name='phone')"></div>
<div th:replace="fragments/forminput :: forminput(label='Alternative Phone:',name='altPhone')"></div>
<div th:replace="fragments/dropdown :: dropdown(label='Blood Group:',bloodtitle='bloodGroup',name='dob')"></div>
<div th:replace="fragments/radiobut :: radiobut(label='Gender:',name='gender')"></div>
 <div th:replace="fragments/forminput :: forminput(label='Teacher Id:',name='tid')"></div>
<div th:replace="fragments/formbutton::formbutton(label='Submit',name='submit',class='btn btn-lg btn-primary btn-block text-uppercase',buttonid='teachersubmit')"></div>
</form>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script th:inline="javascript">

        $(document).ready(function(){
            $("#teachersubmit").click(function(e){
                e.preventDefault();
                console.log("hai");
                $.ajax({
                    method: "POST",
                    url: "/addteacher",
                    data: $('#addteacher').serialize(),
                    success: function(status){
                        if(status) {
                           $(".body").html(status)
                        }
                    }
                });
            })
        })
    </script>
</div>
</body>
</html>