<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>teacher timetable</title>
<link th:href="@{/assets/css/addstud.css}" rel="stylesheet"/>
</head>
<body>


<div class="container" style="min-width: 80%" th:fragment="teachertimetable" id="teachertimetable">
<h4 align="left" style="font-size: 32px">Teacher Timetable</h4>
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" id="home"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Teacher TimeTable</li>
        </ol>
    </nav>
    <div class="dc-form-body">
<form action="#" id="teachertimetable" method="post" class="" >

  <div style="padding-bottom: 22px">
                <h1 style="font-size: x-large" >TimeTable Information</h1>
            </div>
<div th:replace="fragments/dropdownteacher :: dropdownteacher(label='Teacher Name',name='teachername')"></div>
 <!--  <div th:replace="fragments/dropdownsubject :: dropdownsubject(label='Subject Name',name='subjectname')"></div>-->
<div th:replace="fragments/forms/teachertimetabledisplay::teachertimetabledisplay"></div>

</form>
</div>
</div>
</body>
</html>

 
   

         
       
       
      
