@charset "ISO-8859-1";
table {
 font-family: arial, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  
}
th{
 border: 1px solid black;
font-style: italic;
 border-collapse: collapse;
 text-align: center;
  padding: 8px;
   background-color: #d5e1df ;
} 
caption{
	font-size: 32px;
}
td
{
 border: 1px solid black;
font-style: normal;
 border-collapse: collapse;
 text-align: left;
  padding: 8px;
 
} 
tr:nth-child(even) {
  background-color: #c2d4dd;
} 
tr:nth-child(odd)
{
background-color:  #d5f4e6;
}
