<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>scheme of studies</title>
</head>

<body>
<div th:fragment="dc-schemas-add">
    <div class="container" style="min-width:80%" th:fragment="dc-schema-edit">
        <h4 align="left" style="font-size: 32px">SCHEME OF STUDIES</h4>
        <div th:replace="fragments/dc-components/dc-dashboard-components/dc-breadcrumb/dc-breadcrumb.html::dc-breadcrumb(active_item='Edit Schemas')"></div>
        <div class="dc-form-body" id="dc-schema-add">
            <div id="errorPanel" class="alert alert-danger" role="alert" style="display: none">
                Mandatory fields cannot be empty
            </div>
            <div class="alert alert-info" role="alert">
                * Marked fields are mandatory
            </div>
            <form th:action="@{/updateschema}" id="addschema" method="post" th:object="${subjectSchema}">
                <div class="col-sm-10 ">
                    <div th:replace="fragments/dc-components/dc-form-component/dc-text-input/dc-text-input.html::dc-text-input
                    (label='Schema Name *',name='schemaName',id='name',value='subjectSchema.schemaName',required=true)"></div>
                </div>
                <div class="col-sm-10 ">
                    <div class="form-group row">
                        <label th:text="Standard" style="text-align: end;" class="col-sm-3 col-form-label"></label>
                        <div class="col dc-input">
                            <select class="form-control" th:id="grade_input" th:required="true" th:name="grade">
                                <option value="0">Select class</option>
                                <option th:each="gradeCommand : ${gradeList}" th:value="${gradeCommand.id}"
                                        th:text="${gradeCommand.standard}+'  '+${gradeCommand.division}"
                                        th:selected="${subjectSchema.grade.id}==${gradeCommand.id} ? true : false"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="hidden" th:field="*{id}">
                <div class="col-sm-10">
                    <span th:each="subject,iterStat : ${subjectSchema.subjects}">
 <div class="form-group row">
        <label style="text-align: end;" class="col-sm-3 col-form-label" th:text="Subject"></label>
        <div class="col dc-input">
            <select class="form-control ui fluid search dropdown" th:name="subjects">
                <option value="0">select</option>
                <option th:each="option : ${subjectList}"
                        th:value="${option.id}"
                        th:text="${option.name}+' '+${option.subjectId}"
                        th:selected="${subject.name}==${option.name} ? true : false"></option>
            </select>
            <!--             th:if="${option.group}==${T(com.monkmind.digicampus.models.SubjectGroup).}"-->
        </div>
    </div>

        </span>
                </div>


                <div th:replace="fragments/dc-components/dc-form-component/dc-form-button/dc-form-button.html::dc-form-button(label='Submit',submit_id='schemasubmit')"></div>
            </form>
        </div>
        <script th:src="@{js/dc-components/dc-screen-layout/dc-schema/dc-schema-add.js}">
        </script>
    </div>
</div>
</body>
</html>